recursive-include examples *.py
recursive-include tests *.py
recursive-include docs conf.py
recursive-include docs make.bat
recursive-include docs Makefile
recursive-include docs *.rst
recursive-include checks *.py
recursive-exclude docs build